<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/myPage/updateUser.css">
    <link rel="stylesheet" href="/staticComponent/header2.css">
    <link rel="stylesheet" href="/staticComponent/footer.css">
    <title>회원정보 수정</title>

<body>
<div id="wrapper_ch">
        <header>
        <div id='header'></div>
    </header>
    <div class="title">
        <br>
        <h1>회원정보 수정</h1>
        <br>
        <br>
        </div>
    <div class="userInfoEdit">
        <form id="pw" name="editForm">
            <h2>회원정보입력</h2>
            <hr class='top-hr'>
            <div>
                <label class='userId_label'><b>아이디</b></label>
                <input type="text" id='userId' class='userId' name="userId" value="<%=data.userId%>" disabled>
            </div> 
                <hr>
            <div class='pw_div'>
                <div class='pw_top'>
                    <label class='pw_label'><b>비밀번호</b></label>
                    <input type="password" id='password' class='password' name="pw" value="" class='password'>
                </div>
                <div class='pw_down'>
                    * 8 ~ 25자리 이내로 영어, 숫자, 특수문자를 조합하여 만들어 주세요.
                </div>
            </div>
                <hr>
            <div>
                <label><b>비밀번호 확인</b></label>
                <input type="password" id='passwordRe' class='password' name="passwordRe" value="<%= data.passwordRe%>"" >
            </div>
                <hr>
            <div>
                <label class='name_label'><b>이름</b></label>
                <input type="text" id='name' class='name' value="<%= data.name%>" >
            </div>
                <hr>
            <div class='nick_div'>
                <div class='nick_top'>
                    <label class='nick_label' for='nickname'><b>닉네임</b></label>
                    <input type="text" id='nickname' class='nickname' name="nickname" value="<%= data.nickname%>"" >
                </div>
                <div class='nick_down'>
                * 영문, 숫자로 4 ~ 15자리 이내로 만들어주세요.
                </div>
            </div>
                <hr>
            <div>
                <label class='email_label'><b>이메일</b></label>
                <input type="text" id='email' class='email' name="email" placeholder="example@naver.com" value="<%= data.email%>">
            </div>    
                <hr>
    </div>

            <div class="determine">
                <button class='custom-btn check-btn' type='button' onclick='UpdateUser()'>확인</button>
                <button class='custom-btn cencel-btn' type='button' onclick='CancelUpdateUser()'>취소</button>
            </div>
        </form>
</div>
        <footer>
            <div id='footer'></div>
        </footer>
        <script src='/myPage/updateUser.js'></script>
        <script src='/staticComponent/footer.js'></script>
        <script src="/staticComponent/header.js"></script>
    </body>

</html>